@charset "UTF-8";
/*

    em HTML é id = em CSS é #  ( só pode um elemento )
    em HTML é class = em CSS é . (ponto) (pode ter vários)

*/

body {
    background-color: #d6fde9;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

h1 {

    color: #1e402f;
}

h1#principal {
    text-align: center;
    background-color: #3c805e;
    color: white;
}

h2 {
    color: #3c805e;
}

.basico{
   color: #3c805e;
   font-weight: bold;
}

.intermediario{
    color: #807b3c;
    font-weight: bold;
}

.avancado {
    color: #803c42;
    font-weight: bold;
}

.destaque {
    background-color: rgb(233, 233, 43);
}