
html {
    height: 100%;
}

body{
    background: linear-gradient(80deg, transparent, #48595a);
    font-family: sans-serif;
    font-size: medium;
    margin: 0;
    padding: 0;
}

img{
    border-radius: 50%;
    display: flex;
    width: 300px;
    height: 300px;    
}

.texto{
    font-style: italic;
    font-size: large  ;
}

.texto2{
    font-style: italic;
    font-size: large  ;
}